.full-page{
    position: absolute;
    height: 100%;
    width: 100%;
}

#home{
    background: url(../assets/images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

.home-title{
    margin-top: 21rem;
    font-family: 'magic-school';
    font-size: 12rem;
}
.harry-btn{
    background-color: rgba(0, 0, 0, 0);
    border-color: #333333;
    border-width: 2px;    
    border-radius: 50%;
}

.home-btn{
    margin-top: 3rem;
}